name: Build APK

on: 
  push:
    branches:
      - master  # Trigger on push to master branch
  workflow_dispatch: # Allows manual triggering from the Actions tab

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Check Java version
        run: java -version

      - name: Set JAVA_HOME
        run: echo "JAVA_HOME=$(dirname $(dirname $(readlink -f $(which java))))" >> $GITHUB_ENV

      - name: Make Gradle executable
        run: chmod +x ./gradlew

      - name: Clean Gradle Cache
        run: ./gradlew clean

      - name: Build Release APK
        run: ./gradlew assembleRelease
