name: Build APK

on: 
  push:
    branches:
      - main  # Set to your main branch

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        
      - name: Set up JDK 17
        uses: actions/setup-java@v2  # Upgrade to v2
        with:
          java-version: '17'  # Ensures Java 17 is used
          distribution: 'adopt'  # Specify the distribution

      - name: Make Gradle executable
        run: chmod +x ./gradlew

      - name: Build Release APK
        run: ./gradlew assembleRelease
